:root {
    --primary-color: #ebb944;
    --accent1-color: #020202;
    --accent2-color: #79590f;
    --heading-font: Roboto, Arial, sans-serif;
    --body-font: Roboto, Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color)
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--accent2-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a,
nav a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--primary-color);
    color: var(--accent1-color);
}

.hero article {
    position: absolute;
    bottom: 5px;
    text-align: center;
    padding: 8px;
    opacity: 0.9;
    background-color: var(--primary-color);
}

.hero article img {
    float: right;
    width: 125px;
    margin: 0 0 0 5px;
    border: black solid 2px;
}