:root {
    --primary-color: #ebb944;
    --accent1-color: #020202;
    --accent2-color: #79590f;
    --heading-font: Roboto, Arial, sans-serif;
    --body-font: Roboto, Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color)
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--accent2-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a,
nav a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--primary-color);
    color: var(--accent1-color);
}

.hero article {
    position: absolute;
    bottom: 5px;
    text-align: center;
    padding: 8px;
    opacity: 0.9;
    background-color: var(--primary-color);
}

.hero article img {
    float: right;
    width: 125px;
    margin: 0 0 0 5px;
    border: black solid 2px;
}

header {
    display: grid;
    grid-template-columns: 120px 1fr;
    align-items: center;
    gap: 200px;
    margin-bottom: 1rem;
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-evenly;
    align-items: flex-end;
    font-family: var(--heading-font);
}

li {
    flex: 1 1 auto;
}

.navigation a {
    display: block;
    color: var(--accent1-color);
    padding: 20px;
    font-size: 1.4rem;
}

.history {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.history img {
    width: 250px;
    text-align: center;
}

.history p {
    flex: 1;
    margin: 0 25px;
}

h2 {
    text-align: center;
    margin-top: 20px;

}

.adventure {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

figure {
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 20%;
    margin: auto;
}

figcaption {
    padding: 5px;
    text-align: center;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

footer p {
    margin: 0;
    font-size: 1.1em;
}

footer nav {
    margin-left: 1em;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}

/* Contact Page  */

.title h1 {
    position: relative;
}

.info {
    display: grid;
    justify-content: center;
    margin: 1.5rem 0;
}

.info p {
    padding: .5px;
    margin: .7rem;
    justify-content: space-around;

}

.contact {
    display: grid;
    gap: 10px;
    justify-content: center;
}

iframe {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 400px;
    height: 400px;
    margin-top: 100px;
}

.employees {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

/* Form */

form {
    width: 380px;
    height: 600px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
    grid-column: 2/3;
    grid-row: 1/2;
}

fieldset {
    display: grid;
    gap: .5rem;
    margin: .5rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: .5rem;
}

label,
input,
button,
select,
textarea {
    font-family: Roboto, Arial, sans-serif;
}

label {
    text-align: center;
    padding-right: .5rem;
}

input,
select,
textarea {
    padding: 0.5rem;
    font-size: 1rem;
}

legend {
    color: navy;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

button {
    margin: 1rem;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: darkgreen;
}

.form-item {
    display: grid;
    align-items: center;

}

.column1 {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.column1 p {
    grid-column: 1/2;
    grid-row: 1/2;
}

.message {
    grid-column: 2/3;
    grid-row: 1/3;
}

.message label {
    padding: .2rem;
    font-size: .83rem;
    margin: .5rem;

}

.column2 {
    grid-template-columns: 1fr 2fr;
    margin: 0.5rem 0;
}

.column3 {
    margin: .2rem;
}

.column4 {
    display: grid;
    grid-template-columns: 1fr 10fr;
    margin: .2rem;
}

.column4 input {
    grid-column: 1/2;
    grid-row: 1/2;
}

.column4 label {
    font-size: .83rem;
    text-align: left;
}