* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Roboto, Arial, sans-serif;
}

:root {
    --background-color: #eee;
    --border: 1px solid #000;
}

nav {
    background-color: rgb(164, 164, 190);
    padding: 10px;
}

nav a {
    color: black;
    display: block;
    padding: 20px;
}

h1 {
    color: rgb(164, 164, 190);
    padding: 1rem;
}

main img {
    float: right;
    width: 200px;
    height: auto;
    border: var(--border);
    padding: 2px;
    margin: 0 0 1rem 1rem;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
    margin: 1rem;
}

main {
    max-width: 840px;
}

aside {
    position: relative;
    width: 30rem;
    /* margin: 1rem; */
    border: 3px solid black;
    /* padding: 1rem; */
    /* background-color: var(--background-color);
    color: black; */
    text-align: center;
}

aside h2 {
    position: absolute;
    top: 47px;
    left: 185px;
    color: var(--background-color);
}

aside img {
    width: 400px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: var(--border);
    text-align: center;
}

/* class selectors */

.box {
    margin: 1rem;
    border: var(--border);
    padding: 1rem;
    background-color: var(--background-color);
    color: #000;
}

.indent {
    padding-left: 2rem;
}