* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Roboto, Arial, sans-serif;
}

:root {
    --background-color: #eee;
    --border: 1px solid #000;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(164, 164, 190);
    padding: 10px;
}

nav a {
    color: black;
    display: block;
    padding: 20px;
    text-decoration: none;
}

h1 {
    color: rgb(164, 164, 190);
    padding: 1rem;
    border-bottom: #000 solid 2px;
    font-size: 27px;
}

main img {
    float: right;
    width: 130px;
    height: auto;
    border: var(--border);
    padding: 2px;
    margin: 1rem 0 1rem 1rem;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
    margin: 1rem;
}

main {
    max-width: 840px;
    grid-column: 2/3;
    margin: 1rem;
}

aside {
    position: relative;
    width: 25rem;
    border: 3px solid black;
    text-align: center;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside h2 {
    position: absolute;
    top: 47px;
    left: 152px;
    color: var(--background-color);
}

aside img {
    width: 350px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: var(--border);
    text-align: center;
}

/* class selectors */

.box {
    margin: 1rem;
    border: var(--border);
    padding: 1rem;
    background-color: var(--background-color);
    color: #000;
}

.indent {
    padding-left: 2rem;
}

header,
footer,
.grid {
    max-width: 840px;
    margin: 0 auto;
}

.grid {
    display: grid;
    align-items: center;
}