* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header,
footer {
    background-color: rgb(47, 46, 46);
    text-align: center;
    padding: 10px;
    color: white;
    font-size: 1.5rem;
}

main {
    width: 400px;
    margin: 0 auto;
}

h1 {
    margin: 10px;
    text-align: center;
}

img {
    width: 100%;
    height: auto;
    box-shadow: 0 0 30px #333;
}

section {
    background-color: lightgray;
    margin: 20px 0;
    padding: 15px;
    text-align: left;
    font-size: .9rem;
    border: 1px solid black;
}

section p {
    margin: 10px;
}

h2 {
    border-bottom: 2px black solid;
    text-align: left;
}

ul {
    margin: 10px 20px
}

footer {
    font-size: 1rem;
}